html {
	/*padding:20px;*/
	font-family:Verdana;
}

#container {
	/*width:900px;*/
}

#status {
	/*width:250px;*/
}

#messages {
	/*max-height:300px;*/
	overflow: hidden;
}

.info {
	color:#666;
}

hr {
	border:0px none;
	/*height:1px;*/
	background-color:#ddd;
}
#sketchCanvas{
	background-color:#000;
	overflow:hidden;
	/*width:100%;*/
	/*height:100%;*/
}
body {
    overflow: hidden;
    background-color: black;
}

img.btn,div.btn {
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
}
.bg { display: block; width: 1024px; height:40px; position: absolute;bottom:3px;left: 0; background-image: url(../images/title.png); background-size: 1024px 40px; border-top: 1px solid white; background-position: 0 3px;}
.right.state0 {background-position:2px 0;}
.left.state0 {background-position:-2px 0;}
.right.state1 {background-position:-98px 0;}
.left.state1 {background-position:-103px 0;}
.state2 {background-position:100px 0;}
canvas { position: absolute; left:100px;}
.left {left:0;}
.right {right: 0;}
.rightB {border-right:1px solid white;}
.bottomB {border-bottom:1px solid white;}
.leftB {border-left:1px solid white;}
.eraseIcon { top:0; }
#drawIcon { top:0; }
#circleIcon { top:100px; background-image:url(../images/circle.png); background-size:300px 100px;  }
#triIcon { top:200px;background-image:url(../images/tri.png); background-size:300px 100px;}
#sqIcon { top:300px; background-image:url(../images/sq.png); background-size:300px 100px;}
#hexIcon { top:400px; background-image:url(../images/hex.png); background-size:300px 100px;}
#circleIconL { top:100px; background-image:url(../images/cirL.png); background-size:200px 100px;  }
#triIconL { top:200px;background-image:url(../images/triL.png); background-size:200px 100px;}
#sqIconL { top:300px; background-image:url(../images/sqL.png); background-size:200px 100px;}
#hexIconL { top:400px; background-image:url(../images/hexL.png); background-size:200px 100px;}
.okIcon { top:500px; }
